body{
  background-color: lightgray;
  color: #555;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  line-height: 50px;
 }

/* body{
  /* font-size: 15px;
  line-height: 1.6em;
  margin-bottom: 1000px;
}*/

.container{
  width:60%;
  margin:auto;
  overflow:hidden;
}


#main-header {
  background-color:pink;
  color: dimgrey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* padding: 30px;
  margin: 50px;  */
  /* box-sizing: border-box; */
  border-bottom: 2px solid black;
}

#main-header h1 {
  color: dimgrey;
  font-style: italic;
  font-size: 4em;
  text-align: left;
  width: 100% ;
  display: inline;
  text-decoration: underline;


}

#menu {
  color: darkgrey;
  font-size: 2em;
  text-align: right; 
  width: 100%;
  display: inline;
  padding: 50px;
  padding-left: 200px;
  word-spacing: 50px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 80px;

}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
a:visited {
  color: dimgrey;
}

#side-sum{
  float:right;
  width: 40%;
  background:dimgrey;
  color: white;
  padding:10px;
  box-sizing: border-box;
  text-align: center;
}

#main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 80px;
}

#main h1{
  font-size: 85px;
  margin-bottom: 15px;
  line-height: 95px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;

}

.intro-message{
  display: flex;
  flex-direction: column;
  justify-content: center;


}

#main-footer{
  background: dimgrey;
  /* background-color: dimgrey; */
  color:paleturquoise ;
  text-align: center;
  padding:20px;
  margin-top:800px;
}


/* #main-header h1 {
  font-size: 4em;
  /* float: left;
  padding: 0, 0, 10px, 0;
  margin-left: 75px;
  text-decoration: underline;
  text-decoration-color: black;
  text-align: left;
}




#menu {
  width: 20%;
  padding:10px;
  box-sizing: border-box;
  color: dimgrey;
  font-size: 2em;
  padding-top: 35px;
  text-align: right;
}

#showcase{
  background-image:url('../images/showcase.jpg');
  background-position:center right;
  background-repeat:no-repeat;
  background-size: cover;
  min-height:300px;
  margin-bottom: 30px;
  text-align: center;
}

#side-sum{
  float:right;
  width: 20%;
  background:dimgrey;
  color: mistyrose;
  padding:10px;
  box-sizing: border-box;
}

#main{
  float:left;
  width:80%;
  padding:0 30px;
  box-sizing:border-box;
}